extend layout
block content
  .col-md-8.text-center
    img(src='http://sapecat.com.ve/app/img/404.png', alt='Image 404')
    h1 Ups.. Ha ocurrido un error!
    h4 Error 404 - No encontrado
    a(href='http://sapecat.com.ve') Vuelve a Sapecat!
