extend layout
block content
  .col-md-8
    a.btn.btn-info.btn-lg.btn-block.btn-aporte.visible-xs.visible-sm.m-b-xxl(href='http://sapecat.com.ve/#/contribute', ng-show='user.username')
      i.fa.fa-send.fa-2x
      span Envia tu aporte
    .box
      h1.text-bold Términos y Condiciones
      h3 Política de privacidad de Adsense
      p
        | Sapegato toma en serio su privacidad. Esta política de privacidad describe qué información personal que recopilamos y cómo la usamos. Ver esta política de privacidad cartilla para aprender más acerca de las políticas de privacidad en general.
      h3 Colecccion de Información de rutina
      p
        | Todos los servidores web un seguimiento de la información básica acerca de sus visitantes. Esta información incluye, pero no se limita a, las direcciones IP, información del navegador, marcas de tiempo y páginas de referencia. Ninguna de esta información puede identificar personalmente a los visitantes específicos a este sitio. La información se registra para la administración y mantenimiento de rutina.
      h3 Cookies y Web Beacons
      p
        | En caso necesario, Sapegato utiliza cookies para almacenar información sobre las preferencias y la historia de un visitante con el fin de servir mejor a los visitantes y / o presentar al visitante con contenido personalizado. Socios de publicidad y otras terceras partes también pueden utilizar cookies, scripts y / o web beacons para rastrear a los visitantes a nuestro sitio con el fin de mostrar anuncios y otra información útil. Tal seguimiento se realiza directamente por los terceros a través de sus propios servidores y está sujeto a sus propias políticas de privacidad.
      h3 Cómo controlar su privacidad
      p
        | Tenga en cuenta que puede cambiar la configuración del navegador para deshabilitar las cookies si usted tiene preocupaciones sobre la privacidad. Desactivación de las cookies para todos los sitios, no se recomienda ya que puede interferir con el uso de algunos sitios. La mejor opción es habilitar o deshabilitar las cookies en función de cada sitio. Consulte la documentación de su navegador para obtener instrucciones sobre cómo bloquear cookies y otros mecanismos de seguimiento. Esta lista de enlaces web navegador gestión privacidad también puede ser útil.
      h3 Nota especial sobre la publicidad de Google
      p
        | Cualquier publicidad servida por Google, Inc., y compañías afiliadas pueden ser controladas mediante cookies. Estas cookies permiten que Google para mostrar anuncios basados ​​en sus visitas a este sitio y otros sitios que utilizan los servicios de publicidad de Google. Conozca forma de optar por el uso cookies de Google. Como se mencionó anteriormente, todo el seguimiento realizado por Google a través de cookies y otros mecanismos está sujeta a las políticas de privacidad de Google.
      h3 Información de Contacto
      p
        | Las preocupaciones o preguntas sobre esta política de privacidad puede dirigirse a 
        a(href='http://sapecat.com.ve/info/contact/email') Contacto
        |  para más aclaraciones.
